@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

@font-face {
  font-family: 'Fashion Victim';
  src: url(fonts/fashion-victim.woff2) format('woff2');
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding-top: 4rem;
  background-image: url(img/suit.jpg), url(img/bg.jpg);
  background-position: center, center;
  background-repeat: no-repeat, repeat-x;
  height: 360px;
}

h1.site-title {
  font-family: 'Fashion Victim';
  font-size: 6rem;
  font-weight: normal;
  text-align: center;
}

h1.site-title span {
  margin: 0 2rem;
}

.product_colors {
  display: inline-block;
}

.product_colors p {
  text-align: center;
}


.product {
  margin-top: -5rem;
  padding: 3rem;
  background-color: #141518;
  display: flex;
}

.colors {
  padding: 10px 10px;
  position: relative;
}

.color-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 30px;
}

.product__image {
  width: 6rem;
  height: auto;
  padding-right: 10px;
}

.t-shirt {
  stroke: #000;
  stroke-width: 2;
}


.btn {
  border: none;
  padding: 30px 30px;
  border-radius: 50%;
  text-decoration: none;
  outline: 2px solid grey;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-bila {
  background-color: #ffffff;
}
.btn-cerna {
  background-color: #000000;
}
.btn-cervena {
  background-color: rgb(149,50,50);
}
.btn-modra {
  background-color: rgb(137,172,204);
}

.color-kolo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px;
}

.color-kolo p {
 text-align: center;
}

.tlacitko {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 40px;
  outline: 2px solid white;
  border-radius: 25px;
}

.akce {
  position: absolute; 
  left: 450px; 
  bottom: 75px;
}

.akce a:hover,
.akce a:focus {
    color: white;
    background-color: blue;
    border-radius: 25px;
}